@import "../style-variables";

.contact-main {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: calc($page-height - $navbar-margins);
    contain: content;
    justify-content: center;
    background-color: $dark;
}

.ig {
    color: #c4a068;
    text-decoration: none;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-top: 10vh;
}

.ig-logo {
    height: 74px;
}

.contact-phone {
    align-items: center;
    flex-direction: column;
    display: flex;
}

.contact-phone p {
    color: $secondary;
}

.contact-pas-logo-container {
    align-items: center;
    flex-direction: column;
    display: flex;
}

.contact-pas-logo {
    margin-top: 10vh;
    height: 300px;
}