/* primary:     #2f4d54 */
/* secondary:   #c4a068 */

* {
    margin: 0;
    padding: 0;
    color: #c4a068;
}

h2 {
    color: #c4a068;
    font-family: 'Bodoni', serif;
    font-weight: bold;
}

h1 {
    font-size: 50px;
    font-family: 'Bodoni', serif;
    font-weight: bold;
}

.video-container {
    width: 100%;
    height: 95vh;
    contain: content;
}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 55%;
}

.mute-button {
    height: 4vh;
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: transparent;
    border: transparent;

    img {
        width: 100%;
        height: 100%;
    }
}

.mute-button:hover {
    background-color: transparent;
}

.logo {
    height: 15vh;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
}