@import "../style-variables";

.navbar {
    padding: 5;
}

.navbar-toggler {
    margin-right: 5px;
}

.nav-link {
    margin: 10px;
    justify-content: center;
    display: flex;
}

.nav-link:hover {
    color: $secondary;
}

// end of file